.custom-radio-btn {
  --size: 25px;
  min-width: var(--size);
  height: var(--size);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin: 0 10px;
  position: relative;
  padding-left: var(--size);
}

.custom-radio-btn input {
  display: none;
}

.custom-radio-btn.left {
  padding-left: 0;
  padding-right: var(--size);
}

.custom-radio-btn[aria-label]::after {
  content: attr(aria-label);
  display: inline-block;
  margin-left: 5px;
}

/* checkmark */
.custom-radio-btn .checkmark {
  --gap: 3px;
  --border: 2px;
  --check-color: #ff5722;
  width: var(--size);
  height: var(--size);
  border-radius: 50%;
  display: inline-block;
  transition: opacity 0.3s ease;
  border: var(--border) solid #F97316;
  padding: var(--gap);
  position: absolute;
  top: 0;
  left: 0;
}

.custom-radio-btn.left .checkmark {
  left: auto;
  right: 0;
}

.custom-radio-btn input:checked~.checkmark {
  background-origin: content-box;
  background-repeat: no-repeat;
  background-image: radial-gradient(circle at center,
      var(--check-color) calc((var(--size) - (var(--border) * 2) - (var(--gap) * 2)) / 2),
      rgba(255, 255, 255, 0) 0);
}

.input-field {
  width: 75%;
  border: 1px solid #676976;
  border-radius: 10px;
  padding: 10px;
}
.input-field:focus {
  outline: none;
}

@media (max-width:644px) {
  .input-field {
    width: 85%;
  }
}